.navbar
  font-size: 2.4rem
  background-color: $white
  opacity: .9

  &__list
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around
    padding: 1.5rem
    list-style-type: none

  &__link
    color: $black
    text-decoration: none

    &.active
      color: $gitlab

  @media screen and (min-width: $screen-sm)
    &__list
      flex-direction: row
